<section class="icon-list">
  <a href="https://twitter.com/Maninsuit59" target="_blank">
    <i class="nes-icon twitter is-large"></i>
    <div class="footer-text">Twitter</div>
  </a>
  <a href="https://github.com/realbenben/" target="_blank">
    <i class="nes-icon github is-large"></i>
    <div class="footer-text">Github</div>
  </a>
  <a href="mailto:b.patou59@gmail.com" target="_blank">
    <i class="nes-icon gmail is-large"></i>
    <div class="footer-text" v>Gmail</div>
  </a>
  <a href="" target="_blank">
    <i class="nes-icon linkedin is-large"></i>
    <div class="footer-text">LinkedIn</div>
  </a>
</section>
