<form action="https://formspree.io/mdowjnre" method="POST">
  <div class="nes-field">
    <label for="name_field">Your name</label>
    <input
      type="text"
      id="name_field"
      class="nes-input"
      name="name_field"
      required
      placeholder="link"
    />
  </div>
  <div class="nes-field">
    <label for="_replyto">Your email</label>
    <input
      type="email"
      id="_replyto"
      class="nes-input"
      name="_replyto"
      required
      placeholder="link@triforce.com"
    />
  </div>
  <div class="nes-field">
    <label for="textarea_message">Your message</label>
    <textarea
      id="textarea_message"
      name="textarea_message"
      class="nes-textarea"
      placeholder="hey ! Listen !"
    ></textarea>
  </div>
  <div class="nes-field">
    <button type="submit" class="nes-btn is-primary">send message</button>
  </div>
</form>
