<label class="block">
  <span class="text-gray-700">Input</span>
  <input type="email" class="form-input mt-1 block w-full" placeholder="john@example.com" />
</label>

<label class="block">
  <span class="text-gray-700">Textarea</span>
  <textarea
    class="form-textarea mt-1 block w-full"
    rows="3"
    placeholder="Enter some long form content."
  ></textarea>
</label>

<div class="block">
  <span class="text-gray-700">Checkboxes</span>
  <div class="mt-2">
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox text-indigo-600" checked />
        <span class="ml-2">Option 1</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox text-green-500" checked />
        <span class="ml-2">Option 2</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox text-pink-600" checked />
        <span class="ml-2">Option 3</span>
      </label>
    </div>
  </div>
</div>
