<nav class="bg-gray-800 px p-4">
  <div class="hidden sm:block sm:ml-6">
    <div class="flex space-x-4">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="/" class="px-3 py-2 rounded-md text-sm font-medium">Homepage </a>
      <a
        href="/cheatcodes"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >Cheatcodes</a
      >
      <a
        href="/contact"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >Me contacter</a
      >
    </div>
  </div>
</nav>

<p><%= page.url %></p>
<% if '/cheatcodes' in page.url %}active{% endif %>
<p>Yo</p>
