---
eleventyComputed:
  title: 'Contacter Benoit Patou developpeur front-end lille'
---

<h1 class="text-3xl leading-8 font-extrabold">Me contacter</h1>
<p class="text-xl text-gray-500">Parlons de votre prochain projet, je répondrai sous 24heures.</p>
<% include /layouts/formspree.ejs %> <% include /layouts/formtest.ejs %>
